<%= link_to 'Create New Item', user_items_path(current_user) %>
<% if @items.any? %>
<ul>
  <% @items.each do |item| %>
  <li><%= link_to item.name, user_item_path(current_user, item)%></li>
  <% end %>
  <% else %>
  <p>No items</p>
  <% end %>
</ul>
