<%= link_to 'Create New Item', admin_items_path(current_user) %>
<% if @items.any? %>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, admin_item_path(current_user, item)%></li>
  <% end %>
<% else %>
  <p>No items</p>
<% end %>
</ul>
